.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background: transparent !important;
  transition: background 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.scrolled {
    background: linear-gradient(110deg, var(--primary-accent), var(--primary-accent-dark)) !important;
    display: flex;
    justify-content: left !important;
    max-height: 6rem;
    align-content: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
  }

  .container {
    justify-content: left !important;
    gap: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10rem;
  }

  .logo, .navbar-brand, .text-white {
    border: none !important;
    background-color: transparent !important;
  }

  .logo img {
    position: relative;
    z-index: 1;
    width: 80px;
  }

  .navbar-brand {
    z-index: 1;
    font-size: 1.5rem;
    font-weight: bold;
    color: white !important;
  }

  .text-white {
    font-size: 22px;
  }

  .text-white:hover, .navbar-brand:hover {
    color: var(--primary-accent) !important;
  }

  .nav-links {
    display: flex;
    gap: 2rem;

    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      margin: 0;
      padding: 0;

      li {
        .nav-link {
          text-decoration: none;
          color: white !important;
          font-size: 1rem;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: var(--primary-accent) !important;
          }
        }
      }
    }
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;

    .bar {
      width: 25px;
      height: 3px;
      background: white;
      transition: all 0.3s ease-in-out;

      &.open:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      &.open:nth-child(2) {
        opacity: 0;
      }
      &.open:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  @media (max-width: 768px) {
    .menu-toggle {
      display: flex;
      margin-right: 1rem !important;
      margin-left: auto !important;
    }

    .container {
      margin-left: 0px;
    }
    &.scrolled {
      background: linear-gradient(110deg, var(--primary-accent), var(--primary-accent-dark));
      max-height: 6rem;
    }

    .text-white {
      font-size: 24px;
    }  

    .nav-links {
      overflow-x: hidden !important;
      width: 100% !important;
      min-width: fit-content !important;
      position: fixed !important;
      top: 0 !important;
      left: 0 !important;
      height: 100vh;
      background: linear-gradient(135deg, var(--primary-accent), var(--primary-accent-dark));
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      display: flex;

      &.open {
        transform: translateX(0);
      }

      ul {
        flex-direction: column;
        text-align: center;

        li {
          margin: 1rem 0;

          .nav-link {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
