@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-font: "Montserrat", "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Arial, sans-serif;
  --primary: #000000;

  min-width: 100%;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  overflow-x: hidden !important;
}

body {
  background-color: var(--primary) !important;
  overflow-x: hidden !important;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: var(--primary-font);
  color: #f5f5f5;
}

* {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #202020;
}

::-webkit-scrollbar-thumb {
  background: #8d8d8d;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
