// Mobile

@media screen and (max-width: 768px) { 
    
}

// Tablet

@media screen and (min-width: 768px) {
    
}

// Desktop

@media screen and (min-width: 1024px) { 
    
}

// Large Desktop

@media screen and (min-width: 1200px) { 
    
}

// Extra Large Desktop

@media screen and (min-width: 1440px) { 
    
}